{% extends 'areyouin/base.html' %}
{% block title %}New Event{% endblock %}


{% block content %}
	{{ event_form.media }}
	<h1>Create Event</h1>
	    <form id="event_form" method="post" action="{% url 'areyouin:create_event' %}">
			{% csrf_token %}
			
			
			
			
			{% for field in event_form.visible_fields %}
				
				{{ field.label_tag }}<br/> {{ field }} {{ field.errors }}
			{% endfor %}
			
			
			<input class="btn btn-primary" type="submit" name="submit" value="Create" />
			Hold down "Control" to select multiple participants.
		</form>
		
		

{% endblock %}
			